.Adminmain {
    background-color:white;
    width: 400px;
    height: 450px;
    margin: 6em auto;
    border-radius: 0.5em;
    border: 2px solid black; 
    position:absolute;
    left:65%;
    top:5%;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.17);
}
.imgtag{
    position:absolute;
    top:14%;
    left:10%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transform: skew(-20deg);
    color:green;
}
.bg{
    position:absolute;
    width:540px;
    height:410px;
    left:10%;
    top:25%;
    border-radius: 0.5em;
    border: 1px solid black; 
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.17);
} 

.Admintitle {
     color:black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
    position:absolute;
    top:9%;
    right:27%;
}
.Admintitle2 {
    color:black;
   font-family: 'Ubuntu', sans-serif;
   font-size: 15px;
   position:absolute;
   top:23%;
   right:47%;
   font-weight:lighter;
}

.Adminemail {
width: 70%;
color:black;
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;  
border: none;
border-radius: 5px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
position:absolute;
top:35%;
right:16%;
border-color: darkgrey;
box-shadow: black;
font-family: 'Ubuntu', sans-serif;
}

/* .form1 {
    padding-top: 40px;
} */

.Adminpassword {
        width: 70%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 5px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
position:absolute;
border-color: darkgray;
top:50%;
right:16%;
margin-bottom: 1px;
font-family: 'Ubuntu', sans-serif;
}


/* .un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
} */

.Adminsubmit {
    cursor: pointer;
    color: #fff;
    background:green;
    position: absolute;
    top: 75%;
    left:39%;
    width:90px;
    padding: 8px 16px; /* Adjust padding for size */
    font-size: 12px; /* Adjust font size for size */
    border-radius: 0.4em; /* Adjust border radius for size */
  }
  .signn
  {
    position:absolute;
    top:83%;
    left:20%;
  }
  #forgot-passwd{
    position:absolute;
    top:62%;
    left:15%;
  }